*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box; 
    font-family:'Courier New', Courier, monospace;
}

body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#3a6186,#89253e);
}

.calculator{
    background: #222;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 5px rgba(0,0,0,0.3);
    width: 280px;
}
.display{
    width:100%;
    height:60px;
    border:none;
    text-align: right;
    padding-right: 10px;
    margin-bottom: 20px;
    font-size: 2em;
    background: #111;
    color:#fff;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}




.btn{
    height: 70px;
    width: 50px;
    border:none;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    background: #333;
    color:white;
    transition: 0.2s;
}

.btn:hover{
    background: #555;

}

.special{
    background: #ff9500;
    border-radius: 10px;
}
.special:hover{
    background: #ffa733;
}
.equal{
    background: #34c759;
    grid-column: span 2;
}
.equal:hover{
    background: #5cd97c;
}
.zero{
    border-radius: 9px;
    grid-column: span 3;
    width: 110px;
}
.btn:active{
    transform: scale(0.95);
}
