    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    body {
      font-size: 40px;
      background: linear-gradient(to bottom, #ffffff, #e6f0ff);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }
body{
  display:static;
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEg8QDxIVFRAQDw8QEBAPEBAQDw8PFRUWFxURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NFQ8NFSsZFRkrKystKy0tKysrLSstLSstKystKzcrKysrNy0tKysrKysrLSs3NysrNy0tKy0rKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAABAgADBAUGB//EADYQAAIBAgQDBQcEAgIDAAAAAAABAgMREiExUQRBYRNxgZGhBSIyUrHB8BRC0eFygmKSosLx/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAECBAP/xAAXEQEBAQEAAAAAAAAAAAAAAAAAEQFB/9oADAMBAAIRAxEAPwD7gQhAARkAwAxWFsARBSMBURgIAIgCAKAAIrZGUAEVlAIyAYQAMIrCAwMIrCIwEAEBgYWAIAGFigQVhAysgAIGEBgCAoBCECPTkIA83cjFYWKwAwMIpUQULYoRAMjYGERgBchU0GAgAiMBABEAyMARGAgAgMDCxQIwMgAgACBhAYCAYTUAQBUQVhYCoAGEVhEIQgHqBWEDPN3AxSMDKgMBGBhAYGRguUQDIxWwiAZANhlANkuKAWC4LkuES4GC4GEEAAXCCwEuC4RGKEARBWFgYAAQDKygCAuVEYoRWwIwEbBcIJBbkA9QxWFisw7gYGFisIDYCMFioDYCNAaCA2AjFbCC2K2C4LhBbBcDYLhBuC4Li3LENcW4LguIGuK2K2C4iGuC4twNiIa5LiYgOQiHbBcTEC5UPcW4uIGIIa4GxWxXIIe4rYrkByAZsFxLkuENchOzlt9CAj1DYrZGIzDtM2I2K2JIC1MhWmLObKi1sW5mdRjxrBFwkkB1EJKqVNLN2Ke1JVnczSiwjT2gO0MckxHNoqN+NAxnOddi/qWEdLEByMcOIuWKqEXOQHIplVEdYC9yA5md1BVJt2QRoxgdQrcFpiz7nbzKasZR1CNHaAdQzJiykE1q7QDqmVSYUgi/tAOoNw0Fm5aL1fJItmoSyth2ab9QM/aCuoVTTi2nqhcQRd2hZjwr/k/RGSm87cufctS1TxNvcIe5CXIEetbElIkmvxFcmYdwuohJVEJJlcpFRY6y2FdZbFTvsTBK17AN2l+QHIqdSwrq3KizGI6hXORWmVNX9oNHMTHBIoqcZb4QjXKlkY6yQsuJlLV+Qktwgqkh3TijHW4l6IKk+bKjXgXISVMH6qnFZyXcU1PaMHfCm7c7ZBFVV2MNTiWrhre1c8o+Zj7d1JWUc2EaaPGSZsXH9nDFLWTaXSK1f51OLOTg3lmH2jxGah8kVF/5av1bA9FwnGQqaNG3CpRa2zXdzR4/gOCqS9+DtbzOzwnG1INKpHnqtGuYRunEonYrr8RZtbNozV5y2DLXGSC52OS+KaB+rcmorNt2SA70qitGN87Yn3y09LeYs5o4nHcRLtJ7KTiv8Y5L0Rnlxj3Ca7fF1k2n80U/LJ+qZlnVsc+vxF4U5bOcPJqX/uZZcUE12qdX3ZPe0V45v6eoadexyKldxjCO6c33y09En4iriSGvQfqVuQ87+p6kCPqUmJJjSK5GXcSTEbGaFwhCTqDfqFhtzFqRSKZMISpIRyDN3K6iLgWUyqc2FiMqakMyx0X3d7sGmsKxc3p/Iid82ERxcX035Em1zGpy5PR+nUoqxs2mUCLu0kvE2yoq0llmufJmOjLC7mmFS+YZcKrS1Oj7O4b3Xf4Xk+o1RQk88voyydTsnGDzilrs2Bz+M9kNXcGmu+z9Sr2fwkoyd001ujrV6l846fUzSrNWwywvzi/DkEWVOAU/fl+3PpNrRM85xFCWJ41m22+t+aPRrjnNYZZS66NdDPOO6y2fIBfZtHClbnm9jZKnd6mTh54dPh+Xmu4aq8WcXexUXcfQWUubS81l9ivh6rt7xTKq5wcZu7h7ya1UdH32yZRQ4pp4Z6ftnyffsGdba3Dwnys+T3KPZ/CKnUUn+28v+qu/oU1K0oyvF3W2qNNGcpRnNLPDgUeT5ya8Fb/ZEItwRkveirvcx1/Zqd2lbuNMeKWF/NbJPJrwM1LjZR1zQSK+B4FXdOpo2pQv8yureKfoi7ifY0NZKUYr4nbRdN2V1uLTli/bblqnuyVq0rYk7q2Wd0wjn8X7PnNucNHouSWiXgsjlV1OGqZ2KPthLKStn1w/0bX2c05KzVrsI4ND2fVnFSVrPNXeZDorjLfDpyz5ECPpEl+WK2vyw8pFTkYdpZd5W77jykVtgLKJRPIuk+hRUKhblc2FgwlFbRIRu0tyxRQ1Oyu9l6sIrru76LJdxWsiSmLIqFnInEzvhluvVFcyLOLXOLxLu5/YIqlUZTOc07pXVt/qO2LKbKiyj70orPNq97Fk62K7dmpN2SfLxKaMrKU9lhj/AJP+riR4jK0vMBo3V3HTmnf0FVZVNNeaevfYjpZe67c008rlr4aMlaXxP99rSV+TtrZK/iEP2McPvK+eSWTRXODtk8Ud7+9FfdCxjUjfEnKNk4yptOSy5x5vMWjN/FGSfpZ2t4NL6gXcNSTz5LX+CyVNPTJ7pfUyR4q8rNZ6Y4Wcn3rSS7zRKqotRlzyxJPCv8ly1XQRFVSlOElJqzbumvglflf7MufCpq8FeOsoayj07uvUE6+F3bWay/cnH7oMXo45bWbw+D1QFFHgZa0/hv7ynlGOmd9OegarUnGFO6VO6cZK0m/mt1fokX1pTla7bzv7zctNEtxeIp3S57J6x7pLNAZakbvS+Wt7SXiZ+I4aVorNxWcmk7rL9yX1WXcb8TXxZ6Z5Y0uvKQ0s848s+twzHEoJ5tPJysueVy6VOzlhlhVrtPODybzXJ2t33N1WmparP5lk337/AF6mbiqbheSzWt9PPbkE1xuN4dqVpLDnh1Ti3/xayYkJWd9Vssm1l/XmbeGxRjJt3u84yzjK+6ZQ6Ck32fuu691u9Nt6W5x9UGdZpUad9X5tZ+DCaVwc3a2FdG1f6gCPqbK2wyYjPN2llYRjNiSAE5lEmWMrbKhQuKFbJjKGwLf0uSdO0dVm789EB1VkrE4isk7bKwZZpU3082L2b29RnUW4YVFuufMoqlw0ny9QQoTi08OXNX5czXCrHdea3ZKtZbrzRUYavCyi94vR/bvKHw0paLxurI1PiMOkvC6fPYzVeJcsm3bLJaXs9gheIp6Ri1hjz3k9WU/p3+fnUMqueSb/ANWGpXcdYvl55FgrV48zRS4lP4u6/wBTNN3+1+5FLlbuewHoeHta6s77GetCOdsm9WvutH4nHp1pRzi2vudThVOrDFZXu13hFCUIzUpR0esdPFFkoYs4yum7/Mr30Kq6ayat0azKcNs02n05hArRtKbva6VlrGWW2/cPCslTtJKMsOl7RvtflmK6r/d5rP0EnGMtVddAjUrqKT2XXMrdW2bzW+jt1fMqU5RTUX4SzX9f0V1JKUXF5XVt8wNVLi4zyV7u7Slk3a12l3tAnUzte0ujszFKm5OF1ZQzW+K1k01+ZGR1JRjh+KePK/x6637hErrRq5+9mt1k/FaBq1FJXTTX5rsYO0xykrtYUrLRtta9RL4oqaylbVZNv+P4CKuJg43cOd7xecX/AB4GajxEF7svdd23fOLby15ZFtatb4vNfwYOIlGWj+zQZ101B/K31jmvBkPPNyWVwhH2qTK5MEmxGeTtRislxJMIM7FE/QeVtxHY0FkxGhm0I5/mYQ9PW/JZsqnLVlk5Wjbm833ckZ3bYqBKXX8zFxPcEkthMMdvqVF3avd6b9B1We/r1Zl7KD1Xk2H9LT/5Lukv4CLK1d7+pRKq3zeu73Eq8Ml8Mn4r7mWtGUddN7lF8s/JFUkm0+pllXW5VOr3vwZUa608krrlr/rn6MxVZJRtz0vF7ddiucZPSL8iR4eb5W7wiulWbTu+tmt9PA6/sj26lFU8Hw5XTTV+bObLhJdCtcHKLulnno1ncD1f6uFTKVu58iitwi1hK3SWa8zjcH2id3d5LXO+/cbq1WTtZPXrnbMJS1IOOvny8/zmZpvO/wB8y6vXmkrKWfNp5d5jUpNSyvZ65LxBTVK1vElKonnHuMU4VZPONk07XavbuNfC0pKNrLz1CJVrYU2Jw3E43pm/KweI4Kctl5i8Nwk4vltqA3E0k83dZWdna62ZhqcVNZQtbRKV7W2yOpU4aUtWjJU9nu+TXkEU8ZSbj1snZb7Hn/ac2rWye+jPTVOBb/d6HP4n2QnrP0QTXmY8bU380iHVfsVfM/8Ar/ZAj7TJFbRfJrYpc1seLsVSRXIubj1EceqKjPJitmjB1XmiYFzaKMcpDQjb3peC3ZrioLq+qyHlJP8A+BlzZZu7EkjXVaM7kVFEkALkhJMoZFkakL5/X86mSaKZIqLuK4mPJetyitxEXFK2fMVxEfD37ioZWenoRkVOyshIxCDkK2gYswVJpFBbAOqmwVO4RKaNEWV06lh8VwJKZRJZWtk91c0RJjuBi7G0r52tZLkNByxae7bXPU1eBJN6bhGF08cpYuSWFPbmxKUnZRVs5tRbu/dXM3SpJ6r0FnTvZLK2atbIEVxbTwyfK6aVslqJjTtdNJ5JtKz2Lf0974nduLjlkkiucZOKhht8N2/hstmEO6ZlrUunqbpzSsm0m9FuZuITvFLWTeeyQNc90ehDVKjLdeKCGX0CRVIhDxdauSK3EhChHEFiECIPcBCormUyiEhUUqiVOg7kIAKis7AlFWIQqBhRXJBIVFMkVyRCBC2ElSTIQoWpTbVkGnDCnchAg8PJtu5dKqk7Pz6EIXqLGtOv0HsQhFSwEv4IQCOILEIBLEsQgCSpp6q9gVKV/qnzTCQIpdGXzf8Aj/ZCEKy//9k=);
  background-size: cover;
  background-repeat: none;
  text-decoration-thickness: initial;
}
   

    .logo-section {
      text-decoration: wavy;
      justify-content: center;
      padding: auto;
      margin-bottom: 80px;
    }

    .logo {
      font-size: 28px;
      font-weight: bold;
      color: #1b2a4e;
      justify-content: center;
    }

    .tagline {
      color: #444;
      font-size: 16px;
      margin-top: 5px;
    }

    footer {
      margin-top: 50px;
      font-size: 14px;
      color: #666;
    }
  #tt{
    color: darkblue;
    font-size: 25px;
    border-color: chartreuse;
    background-color: lightgray;
    opacity: 0%;
  }

  .td{
    text-decoration: none;
    font-size: 20px;
    color: darkblue;
    font-weight: 600;
    justify-content: center;
    padding-bottom: 50px;
  }
  .th{
    margin-top: 5px;;
    text-decoration: underline;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    color: darkblue;
    font-weight: 600;
    padding-bottom:50px;
  }
  .td:hover{
    color: red;
  }
  .th:hover{
    background-color: rgb(25, 133, 17);
  }




  .header{
    padding:0%;
    margin:0%;
    min-height: 100vh;
    width:100%;
    font-size: large;
  }
  nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  nav img{
    width:150px;
  }
  .nav-links{
    flex:1;
    text-align: right;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
  }
  .nav-links ul li a{
    color:#8d0c0c;
    text-decoration: none;
    font-size: 13px;
  }
  .nav-links ul li::after{
    content: '';
    width:0%;
    height:2px;
    background:#8d0c0c;
    display: block;
    transition: 0.5s;
    margin: auto;
  }
#home,#about-us,#services,#contact-us{
    color: rgb(7, 7, 78);
    text-decoration: none;
  font-size: larger;
}
  #home:hover::after{
    color: red;
    width:100%;
    transition: 0.68s;
  }
  #about-us:hover::after{
    color:blueviolet;
    width:100%;
    transition: 0.78s;
  }
  #services:hover::after{
    color:green;
    width:100%;
    transition: 0.68s;
  }
  #contact-us:hover::after{
    color:powderblue;
    width:100%;
    transition: 0.78s;
  }